jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=org.totschnig.myexpenses
testPackageName=org.totschnig.myexpenses
compiledPackageName=org.totschnig.myexpenses.fortest
compiledTestPackageName=org.totschnig.myexpenses.fortest.test
productFlavors=conscript
buildType=forTest
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/org.totschnig.myexpenses/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/org.totschnig.myexpenses/myExpenses/src/androidTest/java/org/totschnig/myexpenses/
